<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <!-- Twitter Servlets -->
  <servlet>
    <servlet-name>signin</servlet-name>
    <servlet-class>feelthetweet.controller.oauth.SigninServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signin</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>callback</servlet-name>
    <servlet-class>feelthetweet.controller.oauth.CallbackServlet
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>callback</servlet-name>
    <url-pattern>/callback</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>feelthetweet.controller.oauth.LogoutServlet
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>post</servlet-name>
    <servlet-class>feelthetweet.controller.general.PostServlet
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>post</servlet-name>
    <url-pattern>/post</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>twitter4j.TwitterException</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>UserTimelineServlet</display-name>
    <servlet-name>UserTimelineServlet</servlet-name>
    <servlet-class>feelthetweet.controller.general.UserTimelineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTimelineServlet</servlet-name>
    <url-pattern>/usertimeline</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyTimelineServlet</display-name>
    <servlet-name>MyTimelineServlet</servlet-name>
    <servlet-class>feelthetweet.controller.general.MyTimelineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyTimelineServlet</servlet-name>
    <url-pattern>/mytimeline</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrendsServlet</display-name>
    <servlet-name>TrendsServlet</servlet-name>
    <servlet-class>feelthetweet.controller.general.TrendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrendsServlet</servlet-name>
    <url-pattern>/trends</url-pattern>
  </servlet-mapping>
  <!-- Google Drive Servlets -->
  <servlet>
    <servlet-name>GoogleDriveListingServlet</servlet-name>
    <servlet-class>feelthetweet.controller.general.DriveFileListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleDriveListingServlet</servlet-name>
    <url-pattern>/googleDriveListing</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DriveFileDelete</servlet-name>
    <servlet-class>feelthetweet.controller.general.DriveFileDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriveFileDelete</servlet-name>
    <url-pattern>/GoogleDriveFileDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DriveFileUpdate</servlet-name>
    <servlet-class>feelthetweet.controller.general.DriveFileUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriveFileUpdate</servlet-name>
    <url-pattern>/GoogleDriveFileUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoogleDriveFileNew</servlet-name>
    <servlet-class>feelthetweet.controller.general.DriveFileNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleDriveFileNew</servlet-name>
    <url-pattern>/GoogleDriveFileNew</url-pattern>
  </servlet-mapping>
  <!-- Aylien Text Analysis Servlets -->
  <servlet>
    <description></description>
    <display-name>AnalyzeTweetSentimentServlet</display-name>
    <servlet-name>AnalyzeTweetSentimentServlet</servlet-name>
    <servlet-class>feelthetweet.controller.general.AnalyzeTweetSentimentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalyzeTweetSentimentServlet</servlet-name>
    <url-pattern>/analyzeTweetSentiment</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>AnalyzeTextSentimentServlet</display-name>
    <servlet-name>AnalyzeTextSentimentServlet</servlet-name>
    <servlet-class>feelthetweet.controller.general.AnalyzeTextSentimentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalyzeTextSentimentServlet</servlet-name>
    <url-pattern>/analyzeTextSentiment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExtractHashtagsServlet</display-name>
    <servlet-name>ExtractHashtagsServlet</servlet-name>
    <servlet-class>feelthetweet.controller.general.ExtractHashtagsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExtractHashtagsServlet</servlet-name>
    <url-pattern>/extractHashtagsUrl</url-pattern>
  </servlet-mapping>
  <!-- Google Drive Oauth Servlets -->
  <servlet>
    <description></description>
    <display-name>GoogleDriveAuthController</display-name>
    <servlet-name>GoogleDriveAuthController</servlet-name>
    <servlet-class>feelthetweet.controller.oauth.GenericAuthController</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>GoogleDrive</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleDriveAuthController</servlet-name>
    <url-pattern>/AuthController/GoogleDrive</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoogleDriveOAuth2Callback</display-name>
    <servlet-name>GoogleDriveOAuth2Callback</servlet-name>
    <servlet-class>feelthetweet.controller.oauth.OAuth2Callback</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>GoogleDrive</param-value>
    </init-param>
    <init-param>
      <param-name>onSuccess</param-name>
      <param-value>redirect:/googleDriveListing</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleDriveOAuth2Callback</servlet-name>
    <url-pattern>/oauth2callback/GoogleDrive</url-pattern>
  </servlet-mapping>

</web-app>